Зравствуйте, ${USERNAME}! Для Вас заведена учетная запись в VPN.

План действий:
- Установите VPN-клиент
- Импортируйте файл настроек ${USERNAME}.ovpn
- Запишите содержимое authenticator_codes.txt (резервные коды)
- Установите на смартфон приложение для генерации кодов
- Отсканируйте QR-код из файлов authenticator_qr
- Сохраните в надежное место файл id_rsa, если он есть
- Получите пароль (PIN) по одноразовой ссылке от администратора
- Подключитесь к VPN с помощью PIN+OTP
- Удалите письмо и его содержимое после настройки и очистите корзину

Для подключения к VPN-серверу вы можете использовать любой удобный для вас VPN-клиент.
Если у вас еще нет VPN-клиента, вы можете выбрать и установить один из этих:
OpenVPN (Windows, MacOS, Linux): https://openvpn.net/vpn-client/
Tunnelblick (MacOS): https://tunnelblick.net/downloads.html
Securepoint VPN (Windows): https://sourceforge.net/projects/securepoint/files/

После установки испортируйте файл настроек OpenVPN (${USERNAME}.ovpn).
Обычно для этого достаточно открыть его уже установленным VPN-клиентом.

На стороне VPN-сервера используется двухфакторная аутентифкация (2fa).
Первым фактором является пароль (PIN), который вам передал через сервис одноразовых ссылок.
Вторым фактором является одноразовый токен (OTP), который будет генерироваться в приложении.

Приложения для генерации кодов:
Google Authenticator: https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2
Код доступа Mail.ru: https://play.google.com/store/apps/details?id=ru.mail.auth.totp

Для настройки OTP вы можете выбрать один из вариантов:
- Отсканировать QR-код из файла изображения authenticator_qr.png
- Вывести в консоль файл authenticator_qr.txt и отсканировать QR-код оттуда
- Вести "secret key" вручную из файла authenticator_codes.txt

Для аутентификации при подключении используйте:
- Имя пользователя: ${USERNAME}
- Пароль: PIN+OTP (конкатенация)
