remote {{ openvpn_remote_address }} {{ openvpn_port }}
remote-cert-tls server
resolv-retry infinite

client
dev tun
proto {{ openvpn_protocol }}
key-direction 1
cipher AES-256-GCM
auth SHA256
nobind
persist-key
persist-tun
auth-user-pass
verb 3
keepalive 10 120

; script-security 2
; up /etc/openvpn/update-resolv-conf
; down /etc/openvpn/update-resolv-conf

; script-security 2
; up /etc/openvpn/update-systemd-resolved
; down /etc/openvpn/update-systemd-resolved
; down-pre
; dhcp-option DOMAIN-ROUTE .
